/* reset */
* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
}

th, td {
    vertical-align: top;
}

ol, ul, menu {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* normalize */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
    margin: 0;
    display: block;
}

[hidden] {
    display: none;
}

html {
    font-family: sans-serif;
    font-weight: normal;
}

body {
    word-wrap: break-word;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none;
}

h1, h2, h3, h4, h5, h6, strong, b {
    font-weight: normal;
}

button,
textarea,
select,
input:focus,
input:active,
a:active,
a:focus,
a:hover {
    outline: 0;
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic;
}

button,
input,
select,
textarea {
    font-family: sans-serif;
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
}

html,
body,
button,
input {
    line-height: normal;
    padding: 0;
    border: 0;
}

textarea,
button {
    -webkit-appearance: none;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="search"] {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="file"]::-webkit-file-upload-button {
    padding: 0;
    -webkit-appearance: none;
    margin: 0;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
    vertical-align: top;
}

input::-ms-clear {
    display: none;
}

/* layout */

html, body {
    height: 100%;
    min-height: 100%;
    overflow-x: hidden;
    position: relative;
}

body {
    background: #f5f5f5;
    color: #444;
    font: lighter 14px/normal "Helvetica", "Arial", sans-serif;
}

/*
    LAYOUT
*/

.main-form {
    display: inline-block;
    padding: 20px 10px;
    position: relative;
}

.form-control {
    padding-bottom: 10px;
}

.methods-controls,
.libs-controls,
.control-submit {
    float: left;
    padding-right: 30px;
}

.control-submit {
    padding: 10px 0;
}

.control-submit .button {
    color:#fff;
    font-weight: bold;
    background-color: #94c745;
    background: -o-linear-gradient(top, #a1d84a 0%, #82bc3c 100%);
    background: -moz-linear-gradient(top, #a1d84a 0%, #82bc3c 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a1d84a), color-stop(100%, #82bc3c));
    background: -webkit-linear-gradient(top, #a1d84a 0%, #82bc3c 100%);
    background: linear-gradient(to bottom, #a1d84a 0%, #82bc3c 100%);
    -webkit-box-shadow: inset 0 -1px 1px 0 #679522;
    box-shadow: inset 0 -1px 1px 0 #679522;

    -webkit-border-radius: 6px;
    border-radius: 6px;

    height: 40px;
    line-height: 30px;
    padding: 5px 45px;
}

.control-submit .button:active {
    background: -o-linear-gradient(top, #82bc3c 0%, #a1d84a 100%);
    background: -moz-linear-gradient(top, #82bc3c 0%, #a1d84a 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #82bc3c), color-stop(100%, #a1d84a));
    background: -webkit-linear-gradient(top, #82bc3c 0%, #a1d84a 100%);
    background: linear-gradient(to bottom, #82bc3c 0%, #a1d84a 100%);
    -webkit-box-shadow: inset 0 1px 0 0 #1E5201;
    box-shadow: inset 0 1px 0 0 #1E5201;
    line-height: 29px;
}

@-webkit-keyframes progressbar {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 80px 0;
    }
}

@keyframes progressbar {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 80px 0;
    }
}

.control-submit .button.loading {
    position: relative;
}

.control-submit .button.loading:after {
    content:'';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-repeat: repeat-x;
    background-position: 0 0;
    background-size: 40px 40px;
    background-image: -webkit-linear-gradient(335deg, transparent, transparent 33%, rgba(0,0,0,0.12) 33%, rgba(0,0,0,0.12) 66%, transparent 66%, transparent);
    background-image: linear-gradient(295deg, transparent, transparent 33%, rgba(0,0,0,0.12) 33%, rgba(0,0,0,0.12) 66%, transparent 66%, transparent);
    -webkit-animation: progressbar 0.8s linear infinite;
    animation: progressbar 0.8s linear infinite;
}

.control-select .label {
    display: inline-block;
    width: 110px;
}

.control-select .select {
    width: 100px;
}

.control-checkbox {
    float: left;
    width: 180px;
}

.control-checkbox:nth-child(2n+1) {
    clear: left;
}

.control-checkbox .checkbox,
.control-checkbox .label-text {
    vertical-align: middle;
}

.results-table {
    clear: both;
    margin-bottom: 20px;
    margin-left: 10px;
    display: inline-block;
    vertical-align: top;
}

.results-table .cell {
    color: #fff;
    min-width: 60px;
    padding: 10px;
}

.results-table .cell.th-method {
    padding-left: 0;
    padding-right: 0;
}

.results-table .jquery-cell,
.results-table .zepto-cell {
    font-size: 18px;
    text-align: center;
}

.results-table .method-cell {
    font-weight: bold;
}

.results-table .method-row[data-is-common="0"] .cell {
    background: #9d1919;
}

.results-table .method-row[data-is-common="1"] .cell {
    background: #259d19;
}

.results-table .method-row[data-is-static="0"] .method-cell {
    background: #EE811D;
}

.results-table .method-row[data-is-static="1"] .method-cell {
    background: #6abbee;
}

.results-table .th-jquery,
.results-table .th-zepto {
    background: #000;
}

.results-table .th-method {
    color: #000;
    white-space: nowrap;
}

.results-table .th-zepto {
    border-radius: 0 10px 0 0;
}

.results-table .th-jquery {
    border-radius: 10px 0 0;
}

.tbody .method-row.visible .method-cell {
    border-radius: 10px 0 0;
    width: 130px;
}

.tbody .method-row.visible ~ .method-row.visible .method-cell {
    border-radius: 0;
}

.tbody .method-row.visible:last-child .method-cell {
    border-radius: 0 0 0 10px !important;
}

.tbody .method-row.visible:last-child .cell:last-child {
    border-radius: 0 0 10px 0 !important;
}

.hidden {
    display: none;
}

/*
    No content cells
*/

.no-content .cell {
    background: #aaa;
    border-radius: 10px 0 10px 10px !important;
    padding: 30px;
    text-align: right;
}
